* {
    box-sizing: border-box;
    margin:0 auto;
    padding: 0 auto;
    
}

body >header{
    background-color: blanchedalmond;
    padding: 16px 0;
    color: rgb(12, 192, 123);
}
header .container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
header li {
    display: inline;
    font-family: sans-serif;
    font-weight: bold;
    margin: left;
}
header li a{
    color: rgb(225, 7, 7);
}

.contaneiner {
    width: 1366px;
    margin: 0 auto;
}
.articles{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.articles article img {
    /*height: 100px; */
    width: 100%;
}

.articles article{
    width: 20%;
}
section {
padding: 16 0;
}
section h2, .articles article{
    margin-bottom: 16px;
}
.articles .articles h2{
    margin-top: 8px;
    margin-bottom: 8px;
}
.articles article a{
    background-color: rgb(137, 109, 231);
    color: black;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
}
.articles article a:hover{
    text-decoration: underline;
}
.articles article p{
    font-family: sans-serif;
}
.articles article a{
    font-family: sans-serif;
}
.articles article h3{
    font-size: 24px;
}
section h2{
    font-size: 32px;
}

#sports{
    background-color: rgb(154, 154, 146);
}
#economy{
    background-color: rgb(148, 218, 123);
}

.articles article a{
    background-color: azure;
}

#games{
    background-color: rgb(232, 185, 185);
}
#cars{
    background-color: antiquewhite;
}